/* Add CSS styling here */
/* Let's start off with some resets */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* end resets */

html {
    font-size: 62.5%;
}


/* smaller viewports */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .container {
        width: 320px;
    }

    .header-section, .footer-section {
        box-sizing: border-box;
    }

    header {
        height: 7rem;
        padding: 1.0rem;
        background-color: #e6e3e3;
    }

    footer {
        height: 7rem;
        padding: 1.0rem;
        background-color: #e6e3e3;
    }

    header h1 {
        font-size: 3rem;
    }

    header nav {
        font-size: 2em;
    }

    .top-section {
        margin: 10px;
    }

    .top-section h2 {
        display: none;
    }

    .top-section p {
        margin-top: 3px;
        font-size: 1.5rem;
    }

    .top-section a {
        font-size: 2.5rem;
    }

    .bottom-section {
        display: flex;
        justify-content: space-around;
    }
    .bottom-section img {
        width: 30rem;
        height: auto;
    }

    figure {
        margin: 5px 0px;
    }

    figcaption {
        font-size: 2.5rem;
    }

    li:nth-last-child(n+4) {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
    .footer-inner h3 {
        display: none;
    }

    .footer-inner a {
        font-size: 1.5rem;
    }

    .social-media a {
        font-size: 1.5rem;
    }
}